* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-gray-50: #f5f6f8;
  --gray-100: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-800: #8d8d96;
  --white: #ffffff;
  --black: #000;
  --blue: #2c6bc9;
  --orange: #ff8c00;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--gray-900);
  color: var(--black);
}

body,
input,
textarea,
select,
button {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  background: var(--white);
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.pro-sidebar {
  grid-area: nav;
  color: var(--white) !important;
  min-height: 60vh !important;
  height: 100% !important;
  width: 60px !important;

  align-items: center !important;
  align-self: flex-start !important;
  justify-content: center !important;

  z-index: 99 !important;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  &:hover {
    width: 250px !important;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }

  &:hover ~ main {
    width: calc(100% - 250px);
    margin-left: 250px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
}

.pro-sidebar.collapsed {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.pro-sidebar.collapsed > .pro-sidebar-inner {
  background: var(--blue) !important;
}

.pro-sidebar .pro-menu a {
  color: var(--white)!important;

  transition: filter 0.2s;

  &:hover {
    opacity: 0.7;
  }
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background: var(--blue) !important;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
  background: var(--blue) !important;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-icon-wrapper .pro-icon {
  background: var(--blue) !important;
}

.pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item > .popper-inner {
  background: var(--blue) !important;
}
