.pageHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding: 1px;
    border-top-width: 0px;

    h1 {
        align-self: center;
        margin-top: 6px;
        margin-bottom: 2px;
    }

    button {
        display: inline-block;
        align-self: flex-start;

        align-items: center;
        justify-content: center;
        cursor: pointer;

        border: 0;
        margin-left: 10px;
        padding-left: 10px;
        height: 40px;
        width: 210px;

        font-weight: bold;
        background: var(--gray-100);
        color: var(--blue);

        transition: filter 0.2s;

        &:hover {
            background: var(--gray-300);
        }
    }
}

.cartArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;

    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: 15px;

    table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: flex-start;

        width: 100%;
        height: 100%;
        margin-right: 5px;
        align-items: flex-start;

        thead {
            height: 2rem;
            width: 100%;

            display: flex;
            align-items: center;
            background: var(--gray-100);

            tr {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;

                th {
                    font-weight: 400;
                }
            }
        }

        tbody {
            width: 100%;
            height: 215px;

            display: flex;
            justify-content: center;
            align-items: center;

            tr {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 100%;
            }
        }
    }

    .cartTotals {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 10px;

        width: 30%;
        background: var(--gray-100);
        border: var(--blue);

        h2 {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
            font-weight: 300; //area - TOTAL VALUE
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;

            height: 2.5rem;
            width: 100%;
            margin-top: 5px;
            margin-bottom: 15px;

            font-weight: bold;
            background: var(--gray-800);
            color: var(--white);

            transition: filter 0.2s;

            &:hover {
                background: gray;
            }
        }

        div.subtotal {
            display: flex;
            align-items: flex-start;
            width: 100%;

            margin-top: 5px;
            margin-bottom: 5px;

            span {
                margin-left: auto;
                margin-right: 15px;
            }
        }
    }
}

.deliveryOptions {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    margin-top: 5px;
    margin-bottom: 5px;
}

.withdrawStore {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

    input {
        width: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    span {
        margin-left: auto;
        margin-right: 15px;
    }
}

.delivery {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

    input {
        width: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    span {
        margin-left: auto;
        margin-right: 15px;
    }
}

.total {
    display: flex;
    align-items: flex-start;
    width: 100%;

    margin-top: 15px;
    margin-bottom: 5px;

    span {
        margin-left: auto;
        margin-right: 15px;
    }
}

.clearCart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3rem;
    padding-left: 30px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 2.5rem;
        width: 10rem;
        border: 0;
        margin-bottom: 1.5rem;

        font-weight: bold;
        background: var(--gray-800);
        color: var(--white);
        transition: filter 0.2s;

        &:hover {
            background: gray;
        }
    }
}
