.carousel {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 100%;

  background-color: var(--white);

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;

    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 75%;
    background: var(--white);
    
    transition: filter 0.2s;

    &:hover{
      box-shadow: rgb(40 41 61 / 4%) 0px 4px 8px, rgb(96 97 112 / 16%) 0px 8px 16px;
    }

    .shoppingCart {
      align-items: center;
      justify-content: center;
      margin-right: 0.2rem;
      height: 1rem;
      width: 1rem;
      color: var(--orange);
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 1rem;
      height: 2rem;
      width: 10rem;
      border: 0;

      font-weight: bold;
      background: var(--white);
      color: var(--orange);
      border: 1px solid var(--orange);

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  .handleprev {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    color: var(--gray-800);

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
      color: var(--black);
    }
  }

  .handleNext {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    color: var(--gray-800);

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
      color: var(--black);
    }
  }
}
