.carousel {
  grid-area: a;
  display: flex;
  align-items: center;

  height: 90%;
  width: 100%;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 2px;

  background-color: var(--white);

  div {
    align-items: flex-start;
    justify-content: space-between;

    padding-left: 1rem;
    height: 90%;
    width: 100%;
    background: var(--orange);

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 1rem;
      height: 2rem;
      width: 10rem;
      border: 0;

      font-weight: bold;
      background: var(--white);
      color: var(--orange);

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}

/* .carouselTwo {
  grid-area: b;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 90%;
  width: 100%;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 2px;

  background-color: var(--white);

  div {
    display: block;
    align-items: center;
    justify-content: center;

    padding-left: 1rem;
    height: 90%;
    width: 100%;
    background: var(--orange);

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 1rem;
      height: 2rem;
      width: 10rem;
      border: 0;

      font-weight: bold;
      background: var(--white);
      color: var(--orange);

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
} */

.shoppingCart {
  align-items: center;
  justify-content: center;
  margin-right: 0.2rem;
  height: 1rem;
  width: 1rem;
  color: var(--orange);
}

.handleprev {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  color: var(--gray-800);

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}

.handleNext {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  color: var(--gray-800);

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}
