.contentContainer {
  grid-area: main;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 2fr;
  grid-template-areas: 
    "a a"
    "b b";
  align-items: center;
  justify-content: space-between;
}

.hero {
  max-width: 600px;

  > span {
    font-size: 1.5em;
    font-weight: bold;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: gray;
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-top: 1.5rem;

    span {
      color: gray;
      font-weight: bold;
    }
  }

  button {
    margin-top: 2.5rem;
  }
}

// Static Variables

$admin-topnav-height: 2rem;
$admin-header-height: 5rem;
$admin-main-height: 80vh;
$admin-footer-height: 10rem;
$admin-bfooter-height: 1.5rem;
$admin-nav-width: 250px;

// Main Layout Grid

.container {
  --spacing: 1rem;

  // Grid
  display: grid;
  height: 1rem;

  grid-template-rows:   
      $admin-topnav-height 
      $admin-header-height 
      $admin-main-height
      $admin-footer-height 
      $admin-bfooter-height;
  grid-template-columns:  $admin-nav-width;
  grid-template-areas:    "topnav topnav"
                          "header header"
                          "nav main"
                          "footer footer"
                          "bfooter bfooter";

  &__header {
    flex-basis: 100%;
    grid-area: header;
    display: flex;
    height: $admin-header-height;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: relative;
  }

  &__nav {
    flex: 0 0 $admin-nav-width;
    grid-area: nav;
    background-color: #313541;
  }

  @media screen and (min-width: 48rem) {
    --spacing: 2rem;
  }
}
