.contentContainer {
  grid-area: main;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 2fr;
  grid-template-areas: 
    "a a"
    "b b";
  align-items: center;
  justify-content: space-between;
}

// Static Variables

$admin-topnav-height: 2rem;
$admin-header-height: 5rem;
$admin-main-height: 80vh;
$admin-footer-height: 10rem;
$admin-bfooter-height: 1.5rem;
$admin-nav-width: 250px;

// Main Layout Grid

.container {
  --spacing: 1rem;

  // Grid
  display: grid;
  height: 1rem;

  grid-template-rows:   
      $admin-topnav-height 
      $admin-header-height 
      $admin-main-height
      $admin-footer-height 
      $admin-bfooter-height;
  grid-template-columns:  $admin-nav-width;
  grid-template-areas:    "topnav topnav"
                          "header header"
                          "nav main"
                          "footer footer"
                          "bfooter bfooter";

 
  @media screen and (min-width: 48rem) {
    --spacing: 2rem;
  }
}
