// Static Variables

$admin-topnav-height: 2rem;
$admin-header-height: 5rem;
$admin-main-height: 80vh;
$admin-footer-height: 10rem;
$admin-bfooter-height: 1.5rem;
$admin-nav-width: 20px;

// Main Layout Grid

.container {
  display: grid;
  width: 100%;

  grid-template-rows:
    $admin-topnav-height
    $admin-header-height
    $admin-main-height
    $admin-footer-height
    $admin-bfooter-height;
  grid-template-columns: 50px 1fr;
  grid-template-areas:
    "topnav topnav"
    "header header"
    "nav main"
    "footer footer"
    "bfooter bfooter";
}

.contentContainer {
  grid-area: main;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "a b c";
  align-items: center;
}
