/* Navegation Bar */
.container {
  width: 100%;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 2rem;
  width: 100%;
  background: var(--orange);

  li {
    list-style: none;
    color: var(--white);
    margin: 10px;
    cursor: pointer;

    transition: filter 0.2s;

    &:hover {
      color: var(--gray-100);
    }
  }
}
