/* Navegation Bar */
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  height: 2rem;
  width: 100%;
  margin-top: 0rem;
  margin-bottom: 0rem;
  background: var(--orange);
  
  li {
    list-style: none;
    color: var(--white);
    cursor: pointer;

    transition: filter 0.2s;

    &:hover{
      color: var(--gray-100)
    }
  }
}
