.pageContent {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        margin-top: 3rem;
    }

    h2 {
        text-align: center;
        margin-top: 2rem;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;

        background: var(--gray-100);

        a {
            color: var(--blue);
            margin-left: 3px;
            margin-right: 2px;
            font-weight: bold;

            transition: filter 0.2s;

            &:hover {
                background: var(--gray-300);
            }
        }
    }
}
