.carousel {
  grid-area: a;
  text-align: center;  
  align-items: center;
  
  display: flex;
  background-color: var(--white);

  div {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0.1rem;

    a {
      color: var(--black);
      transition: filter 0.2s;
  
    &:hover {
      filter: brightness(0.8);
    }
    }

    span {
      color: var(--black);
    }
  }
}