.footerHead {
  display: flex;
  align-items: center;
  justify-content:flex-start ;
  margin-bottom: 0.2rem;
}

.column {
  display: block;
  grid-area: footer;
  text-align: center;  
  align-items: center;
}

.footerContainer {
  grid-area: footer;
  text-align: center;  
  align-items: flex-start;
  padding-top: 0.5rem;
  
  display: flex;
  justify-content:space-between;
  background-color: var(--blue);

  div {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0.1rem;

    a {
      color: var(--white);
      transition: filter 0.2s;
  
    &:hover {
      filter: brightness(0.8);
    }
    }

    span {
      color: var(--white);
    }
  }
  
}



